# MacOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# ignore data directory
data

# ignore the Byte-compiled files
__pycache__/

# ignore quarto directory
quarto

# ignore test.py
playground/test.py

# ignore direcoty legacy
legacy
